<!-- <div class="toolbar" *ngIf="currentUser"> -->
	<!-- <mat-toolbar-row> -->
	<!-- <div class="ap-heading">
	  
	  <span routerLink="/home">Welcome</span>
	  <span class="logout" (click)="logout()">Logout</span>
	  </div> -->
	<!-- </mat-toolbar-row> -->
	<!-- </div> -->
	
  <!-- <mat-sidenav-container class="example-container" *ngIf="router.url !== '/login' && router.url !== '/register'" >
	<mat-sidenav #sidenav class="sidenav" mode="side" opened="true" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
	  <mat-nav-list *ngFor="let item of sidebar">
		<mat-list-item (click)="item.children && item.children.length > 0 ? (showSubmenu = !showSubmenu ) : ''" class="parent">
			<span class="full-width" [routerLink]="item.href" >{{item.label}}</span>
			<mat-icon class="menu-button"  *ngIf="item.children && item.children.length > 0">expand_more</mat-icon>
		</mat-list-item>
		<div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="item.children && item.children.length > 0">
			<a  *ngFor="let child of item.children"mat-list-item [routerLink]="child.href">{{child.label}}</a>
			<mat-list-item class="parent" (click)="showSubSubMenu = !showSubSubMenu" >
				<span class="full-width" *ngIf="isExpanded || isShowing">Nested Menu</span>
				<mat-icon class="menu-button"  *ngIf="isExpanded || isShowing">expand_more</mat-icon>
			</mat-list-item>
			<div class="submenu" [ngClass]="{'expanded' : showSubSubMenu}" *ngIf="isShowing || isExpanded">
				<mat-list-item>SubSubmenu Item 1</mat-list-item>
				<mat-list-item>SubSubmenu Item 2</mat-list-item>
			</div>
		</div>
	  </mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content>
	  <router-outlet></router-outlet>
	</mat-sidenav-content>
  </mat-sidenav-container> -->