:host{
    display: block;
    padding: 100px 107px 117px 50px;
    position: relative;
    box-sizing: border-box;
}
.main-container{
    margin-left: 50px;
}

.demo-sec{
    margin-top: 20px;
}

.vc-create{
    margin-top: 15px;
}