<div class="main-container">
<mat-card class="ac-main">
    <h3>Overview</h3>
    <p>Components are the main building block for Angular applications. Each component consists of:</p>
    <div>
        <ul>
            <li> An HTML template that declares what renders on the page</li>
            <li> A TypeScript class that defines behavior</li>
            <li> A CSS selector that defines how the component is used in a template</li>
            <li> Optionally, CSS styles applied to the template</li>
        </ul>
       </div>
</mat-card>

<mat-card class="ac-create">
    <h3>How to create component</h3>
    <p>Component can be created by using command <strong>ng generate component component-name or ng g c component-name</strong></p>
</mat-card>

</div>